

.section-company-profile {
    padding-top: 60px;
    padding-bottom: 60px;}


.properties-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
   }

.profile{
    display: flex;    
    flex-direction: column;
    align-items: center;
    width: 100%;
        
}

.profile-fon{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;   
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;    
    background-color: #F5F4FA;
}


.properties-list .title {
        color: var(--title-text-color);
        @include font(700, 14px, 16px);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

.properties-list .description {
        @include font(400, 14px, 24px);
        letter-spacing: 0.03em;
        color: var(--primary-text-color) ;}



        

@media screen and (min-width: 768px){


    .properties-list {
        flex-direction: row;
        flex-wrap: wrap;             
  }

    .profile{
       width: 354px;            
      }

    .profile-fon {
        width: 354px;
                 }   
.properties-list .title {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
}



@media screen and (min-width: 1200px) {

.section-company-profile {
    padding-top: 94px;
    padding-bottom: 94px;
}


.properties-list {
    flex-wrap: nowrap;
}

.profile {
    width: 270px;
    height: 248px;
}
.profile-fon {
    width: 270px;
          
}
    
}

