/* основной цвет #757575 */
/* вторичный цвет #212121  */
/* белый цвет #FFFFFF */
/* прозначный rgba(255, 255, 255, 0.6); */
/* акцент #2196F3 */
/* вторичный фон #F5F4FA */
/* фон героя #C4C4C4 */
/* цвет лого - чорный #000000 */
/*фон футера - #2F303A*/

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --secondary-fone: #F5F4FA;
    --hero-fone: #C4C4C4;
    --logo-black: #000000;
    --hero-button: #188CE8;
    --futer-fon: #2F303A;
}